/* add your CSS here */
body {
    width: 350px;
    height: 400px;
}
h3 {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    text-align: left;
    letter-spacing: 1px;

}
img {
    width: 300px;
    height: 200px;
    border: 1px solid #92885C;
    margin-left: 1px;
    margin-right: -1px;
    margin-top: -1px;
    margin-right: -1px;
    
}
.information {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #1C1B14;
    background-color: #403E31;
    color: white;

}
.middle {
    padding: 5px;
    vertical-align: middle;
    border: 10px double rgb(148, 133, 67);
}
.description .information .fact {
    padding: 10px;
    vertical-align: middle;
    text-justify: auto;

}
.description {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #92885C;
    background-color: rgb(121, 108, 55);
    color: white;
    width: 300px;
    box-sizing: content-box;
}
p.fact {
    font-style: italic;
    margin-left: 4px;
}
li {
    margin-left: -40px;
    list-style-type: none;
    align-content: left;
}
span {
    font-weight: bold;
    text-align: left;
    margin-left: 4px;
}
p {
    margin-left: 4px;
}