.udacity-text {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: #8001ff;
    text-decoration-color: #8001ff;
    font-size: 40px;
    font-weight: bold;
    }